{%  extends 'base.html.twig' %}

{% block body %}
<h1>Liste des stage de l'entreprise {{entreprise.nom}} </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">titre</th>
      <th scope="col">mission</th>
    </tr>
  </thead>
  <tbody>
    {% for stage in stages %}
    <tr>
      <td scope="row"><a href = "{{path('pro_stage_stage', {'id': stage.id})}}">afficher</a></td>
      <td>{{stage.titre}}</td>
      <td>{{stage.mission}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}