{%  extends 'base.html.twig' %}
{% block body %}
<h1>Liste des entreprise</h1>
{% for entreprise in entreprises %}
    <div class="container">
        <div class="row">
        <div class="col">
        <button onclick="window.location.href = '{{path('pro_stage_stage_par_entreprise', {'idEntreprise': entreprise.id})}}';">filtrer</button>
        </div>
        <div class="col">
         {{entreprise.nom}}
        </div>
        <div class="col">
         {{entreprise.adresse}}
        </div>
        <div class="col">
         {{entreprise.activite}}
        </div>
        </div>
        </div>
{% endfor %}
{% endblock %}
