{%  extends 'base.html.twig' %}
{% block body %}
<h1>Liste des entreprise</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">nom</th>
      <th scope="col">adresse</th>
      <th scope="col">activité</th>
    </tr>
  </thead>
  <tbody>
    {% for entreprise in entreprises %}
    <tr>
      <td scope="row"><a href = "{{path('pro_stage_stage_par_entreprise', {'id': entreprise.id})}}">Filtrer</a></td>
      <td>{{entreprise.nom}}</td>
      <td>{{entreprise.adresse}}</td>
      <td>{{entreprise.activite}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
