{%  extends 'base.html.twig' %}
{% block body %}
<h1>Liste des formations</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">nomCourt</th>
      <th scope="col">nomLong</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formations %}
    <tr>
      <td scope="row"><a href = "{{path('pro_stage_stage_par_formation', {'id': formation.id})}}">Filtrer</a></td>
      <td>{{formation.nomCourt}}</td>
      <td>{{formation.nomLong}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}