{%  extends 'base.html.twig' %}

{% block body %}
<h1>Liste des stages de la formation {{formation.nomCourt}}</h1>
{% for stage in formation.stages %}
    <div class="container">
        <div class="row">
        <div class="col">
        <button onclick="window.location.href = '{{path('pro_stage_stage', {'id': stage.id})}}';">afficher</button>
        </div>
        <div class="col">
         {{stage.titre}}
        </div>
        <div class="col">
         {{stage.mission}}
        </div>
        </div>
        </div>
{% endfor %}
{% endblock %}