{%  extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <button onclick="window.location.href = '{{path('pro_stage_formations')}}';">filtrer par formation</button>
        </div>
        <div class="col">
            <button onclick="window.location.href = '{{path('pro_stage_entreprises')}}';">filtrer par entreprise</button>
        </div>
    </div>
</div>
{% endblock %}
