{%  extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href = "{{path('pro_stage_formations')}}">filtrer par formation</a>
        </div>
        <div class="col">
            <a href = "{{path('pro_stage_entreprises')}}">filtrer par entreprise</a>
        </div>
    </div>
</div>
{% endblock %}
