{%  extends 'base.html.twig' %}
{% block body %}
<button type="button" class="btn btn-primary">Filtrer par formation</button>
<button type="button" class="btn btn-primary">Filtrer par entreprise</button>
{% endblock %}
