{%  extends 'base.html.twig' %}
{% block body %}
<button type="button" href="{{path('pro_stage_formations')}}" class="btn btn-primary">Filtrer par formation</button>
<button type="button" href="{{path('pro_stage_entreprises')}}" class="btn btn-primary">Filtrer par entreprise</button>
{% endblock %}
